<!DOCTYPE html>
<html>
<head>
    <title>MIT SLOAN INVESTMENT CONFERENCE 2016</title>
    <link href='/bootstrap/css/bootstrap.min.css' rel='stylesheet' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h1>MIT SLOAN INVESTMENT CONFERENCE 2016</h1>
    <h2><small>FEBRUARY 26, 2016 | BOSTON MARRIOTT CAMBRIDGE | CAMBRIDGE, MA</small></h2>
</div>

<div class="container">
        <ul class="nav nav-pills">
            <li><a href="#">Welcome</a></li>
            <li><a href="#">Speakers</a></li>
            <li><a href="#">Agenda</a></li>
            <li><a href="#">Sponsors</a></li>
            <li><a href="#">Venu</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="https://www.eventbrite.com/e/2016-mit-sloan-investment-conference-tickets-19231503946">Buy Tickets</a></li>
        </ul>
</div>

<div class="container-fluid">
        <h3 class="text-center">WELCOME</h3>
        <p>
            Hosted by the Sloan School of Management at the Massachusetts Institute of Technology, the MIT Sloan Investment Conference brings together influential individuals in the finance and investment world to debate, discuss, and share their views on the most pressing issues in macroeconomics, finance, and investing.
        </p>
        <p>
            The investment conference is an integral part of MIT's tradition in finance education, and our mission is to expand investment education by providing young investors and students access to investing thought leaders through conversations over philosophies, ideas, debates, and personalities.
        </p>
</div>
<div class="container-fluid">
    <h3 class="text-center">Featuring</h3>
    <br>
    <div class="col-md-3 col-lg-2">
        <img class="img-responsive" src="/images/1.png" />
    </div>
    <div class="col-md-3 col-lg-2">
        <img class="img-responsive" src="/images/2.png" />
    </div>
    <div class="col-md-3 col-lg-2">
        <img class="img-responsive" src="/images/3.png" />
    </div>
    <div class="col-md-3 col-lg-2">
        <img class="img-responsive" src="/images/4.png" />
    </div>
    <div class="col-md-3 col-lg-2">
        <img class="img-responsive" src="/images/1.png" />
    </div>
    <div class="col-md-3 col-lg-2">
        <img class="img-responsive" src="/images/2.png" />
    </div>
</div>
<div class="container-fluid" align="center">
    <h3 class="text-center">Sponsors and Partners</h3>
    <br>
    <div class="col-md-6 col-lg-6">

        <h4 class="text-center">Sponsor</h4>
        <img src="/images/sponsor/s1.gif" />
        <img src="/images/sponsor/s2.jpg" />
        <img src="/images/sponsor/s3.jpeg" />
    </div>

    <div class="col-md-6 col-lg-6">
        <h4 class="text-center">Paterner</h4>
        <img src="/images/parterner/p1.gif" />
    </div>
</div>

<script src='/jquery/jquery-2.2.0.min.js'></script>
<script src ='/bootstrap/js/bootstrap.min.js'></script>
<!--
<p>This is our footer</p>

<div class='footer'>
    <div class='container'>
        <p>This is a Footer</p>
    </div>
</div>
-->
</body>
</html>